* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: rgba($white, 0);
    font-family: $raleway;
}

::placeholder {
    opacity: 1;
}

html {
    overflow: hidden;
}