/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');
$old-standard: 'Old Standard TT',
serif;
$raleway: 'Raleway',
sans-serif;

/*Colors*/

$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8;

/*Font size setup*/

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$regular: 400;
$bold: 700;

/*breakpoints */

$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;